body, html {
    height: 100%;
    margin: 0;
}
  
.bgimg {
    background-image: url('images/background.gif');
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100%;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
  
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 150%;
    width: 100%;
}

.center h1,
.center p {
    display: inline;
}

.center p {
    font-size: 35px;
}

.bio1 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    max-width: 15cm;
    padding: 30px;
    border: 1px solid #ffffff54;
    background: #00000071;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-right: 15px;
}

.bio1 p {
    font-size: 25px;
}

.bio2 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    max-width: 10cm;
    padding: 30px;
    border: 1px solid #ffffff54;
    background: #00000071;
    backdrop-filter: blur(10px);
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 15px;
}

.bio2 p {
    font-size: 25px;
}

a {
    color: #8dcec6;
}